/*-----------------------------------------------------------------------------------------
                                        Importar
------------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Cinzel|Indie+Flower|Marck+Script|Playfair+Display|Roboto+Condensed|Sacramento|Tangerine');
/*
font-family: 'Playfair Display', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Cinzel', serif;
font-family: 'Caveat', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Roboto Condensed', sans-serif;
*/

/*-----------------------------------------------------------------------------------------
                                        Configurações Gerais
------------------------------------------------------------------------------------------*/

html { overflow-x: hidden; height: 100%; }
body { font-family: 'Playfair Display', serif; font-size: 20px; overflow-x: hidden }

/*-----------------------------------------------------------------------------------------
                                        Cabeçalho
------------------------------------------------------------------------------------------*/

.contato{ font-size: 0.9em; letter-spacing: 1px; }
.email{ color: rgb(199, 199, 199); }
.telefone{ display: inline; color: white; background-color: rgb(170, 117, 39); padding: 8px; box-sizing: border-box; }
.fundoCabecalho { background-image: radial-gradient(ellipse, rgb(201, 201, 201) 5%, rgb(155, 153, 153)) }
.tamHead { height: 110px; }
/*-----------------------------------------------------------------------------------------
                                        Menu Fixo Topo
------------------------------------------------------------------------------------------*/
.logoSite{ transition: 0.3s}
.menuTopo{ background-color: white;}

/*-- Efeitos de Hover-- */
.menuTopo a, .menuTopo button{ color: black; }
.menuTopo a:hover, .menuTopo button:hover{ color: red; }

/*-----------------------------------------------------------------------------------------
                                        Carousel
------------------------------------------------------------------------------------------*/

.carroussel{background-color: black; position: relative;}

/*-----------------------------------------------------------------------------------------
                                        Formulário
------------------------------------------------------------------------------------------*/
#abrirModal{ position: absolute; top: 0; right: 0; padding: 10px; margin: 20px;}
.formulario{ border: 1px solid white; background-color: rgba(196, 54, 54, 0.623); color: white; border-radius: 20px; padding: 40px; z-index: 1; position: absolute; right: 10%; top: 10%;}
.consulte { font-size: 1em; text-transform: uppercase; margin-bottom: 40px}
.imagem{ z-index: 0; }

/*-----------------------------------------------------------------------------------------
                                        Seção balança
------------------------------------------------------------------------------------------*/
.balancaETexto{ background-color: rgb(233, 233, 233)}
.frase{ font-size: 0.9em; transition: 1; opacity: 0;}
.frase p { font-size: 0.9em; transition: 1s;}
.balanca{ font-size: 100px; background-color: rgb(233, 233, 233); border:1px solid rgb(233, 233, 233); color: rgba(220, 220, 220, 1); padding: 50px; border-radius: 100%; transition: 0.5s; opacity: 0;}
/*-- Efeito hover --*/
.balanca:hover{ background-color: rgba(226, 226, 226, 0.856); color: white;}                                                                                                                                                                                                                                                                                              ;color: white; }


/*-----------------------------------------------------------------------------------------
                                        Seção Figuras
------------------------------------------------------------------------------------------*/

.frase{ background-color: rgb(153, 28, 28); opacity: 0;}
.textoFiguras{ font-size: 1em; opacity: 0; background-color: white}

/*-----------------------------------------------------------------------------------------
                                        Rodape
------------------------------------------------------------------------------------------*/

.endereco{ color: rgb(199, 199, 199); }
.redes{ font-size: 70px; }
.fundoRedes { background-color: white; border-radius: 100%; width: 80px; height: 80px;}
.redes a { text-decoration: none; }
.facebook{ color: #4267b2; transition: 0.5s; }
.facebook:hover { color: white;  font-size: 80px; }
.twitter{ color: #00aced; transition: 0.5s; }
.twitter:hover { color: white;  font-size: 80px; }
.linkedin{ color: #007bb6; transition: 0.5s; }
.linkedin:hover { color: white;  font-size: 80px; }
.instagram{ color: #517fa4; transition: 0.5s; }
.instagram:hover { color: white;  font-size: 80px; }
.marca { color: white; background: rgb(49, 49, 49); }
.marca h2 { font-size: 15px; }
.fundoRodape { background-image: radial-gradient(ellipse, rgb(201, 201, 201) 5%, rgb(155, 153, 153)); }

/*-----------------------------------------------------------------------------------------
                                        Media Query
------------------------------------------------------------------------------------------*/


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    body{ font-size: 13px;}
    #formulario{ display: none; }
    #abrirModal{ display: block; font-size: 12px; padding: 5px;}
    .marca { width: 100% }
    .textoFiguras { font-size: 20px }
    .frase { font-size: 17px }
}

/* Small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) and { font-size: 13px; }

/* Medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {  }*/

/* Large devices (desktops, less than 1200px)*/

@media (min-width: 576px) and (max-width: 1198.98px) { 
    #formulario{ display: none; }
    #abrirModal{ display: block;}
}

@media (min-width: 1199.99px) { 
    #formulario{ display: block; }
    #abrirModal{ display: none; }
}


/*-----------------------------------------------------------------------------------------
                                        Animações Importadas
------------------------------------------------------------------------------------------*/
/* ----------------------------------------------
 * Generated by Animista on 2019-1-19 23:35:52
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes shadow-drop-tb{0%{box-shadow:0 0 0 0 transparent,0 0 0 0 transparent}100%{box-shadow:0 -12px 20px -12px rgba(0,0,0,.35),0 12px 20px -12px rgba(0,0,0,.35)}}@keyframes shadow-drop-tb{0%{box-shadow:0 0 0 0 transparent,0 0 0 0 transparent}100%{box-shadow:0 -12px 20px -12px rgba(0,0,0,.35),0 12px 20px -12px rgba(0,0,0,.35)}}
.shadow-drop-tb{-webkit-animation:shadow-drop-tb .4s cubic-bezier(.25,.46,.45,.94) both;animation:shadow-drop-tb .4s cubic-bezier(.25,.46,.45,.94) both}

 @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
.tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}

 @-webkit-keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
.tracking-in-expand-fwd{-webkit-animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) both}

 @-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}
.text-focus-in{-webkit-animation:text-focus-in .5s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in .5s cubic-bezier(.55,.085,.68,.53) both}

 @-webkit-keyframes text-shadow-drop-bottom{0%{text-shadow:0 0 0 transparent}100%{text-shadow:0 6px 18px rgba(0,0,0,.35)}}@keyframes text-shadow-drop-bottom{0%{text-shadow:0 0 0 transparent}100%{text-shadow:0 6px 18px rgba(0,0,0,.35)}}
.text-shadow-drop-bottom{-webkit-animation:text-shadow-drop-bottom .6s both;animation:text-shadow-drop-bottom .6s both}

/*-----------------------------------------------------------------------------------------
                                        localização e hover titulo
------------------------------------------------------------------------------------------*/
.bordaBottom{ border-bottom: 2px solid red;text-shadow: 2px 2px 10px black; transition: 1s }